/* Default styles for .dialogcontent */






.dialog-content {
    min-width: 800px;
    padding:2em !important;
}


@media (max-width: 768px) {
    .dialog-content {
       
        width: 90% !important;
        min-width: unset !important;
        padding:30px;
        
    }
}

